@model accela.Models.Mails 
<div class="mx-auto">
    <h1 class="text-center"> Send E-mail </h1>
</div>

<form class="needs-validation" method="post" asp-action="AddProductMultiImage" asp-controller="Admin" novalidate>

    <div class="mb-3">
        <!--
        <label asp-for="Model.Subtitle" class="form-label">Text E-Mail</label>
    <input type="text" class="form-control" aria-describedby="subtitleHelp" asp-for="Model.Subtitle" />

        -->
        <label asp-for="@Model.Content" class="form-label">Text E-Mail</label>
        <input type="text" class="form-control" aria-describedby="subtitleHelp" asp-for="@Model.Content" />
        <div class="valid-feedback">
            Looks good!
        </div>
        <div id="subtitleHelp" class="form-text form-helper"> Subtitle is shown under the name.  </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
