<div class="row">
    <div class="col">
        <h1 class="mx-auto"> Department overview </h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-action="AddDepartment" asp-controller="Admin"> Add new department </a>
    </div>
</div>
<div class="row">
    <div class="col">
        @{
        List<Department> dpm = ViewBag.DepartmentList;
            if(dpm.Count() != 0){
                <table class="table mx-auto" style="width: 60%;">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> Name </th>
                            <th> Visibility </th>
                            <th> Position </th>
                            <th> Operation </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach(Department dep in ViewBag.DepartmentList){
                            <tr>
                                <td>@dep.ID</td>
                                <td>@dep.Name</td>
                                <td>@dep.Visibility</td>
                                <td>@dep.Position</td>
                                <td> show edit </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            }else{
                <div class="page-container height-500">
                    <h3 style="padding: 0px 60px" class="bg-danger text-white"> No departments found. </h3>
                </div> 
            }
        }        
    </div>
</div>