<div class="row">
    <div class="mx-auto">
        <h1 class="text-center"> Administration of Accela </h1>
        <p style="font-style: italic" class="text-right"> version 0.2.1 </p>
    </div>
</div>
