<div class="row">
    <div class="mx-auto">
        <h1 class="text-center"> Messages overview </h1>
    </div>
</div>
<div class="row">
    <div class="mx-auto" style="margin-top:5vh">
        @{
        List<Email> messages = ViewBag.MessageList;
            if(messages.Count() != 0){
                <table class="table table-hover">
                    <thead>
                        <tr> 
                            <th> ID </th>
                            <th> Name </th>
                            <th> Email </th>
                            <th> Created </th>
                            <th> Operation </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach(Email mng in ViewBag.MessageList){
                            <tr>
                                <td>@mng.ID</td>
                                @{
                                    foreach(KeyValuePair<string, string> kvp in mng.SendTo[0])
                                    {
                                        <td>@kvp.Key</td>
                                        <td>@kvp.Value</td>  
                                    }
                                }
                                <td>@mng.Created</td>
                                <td>
                                    <a class="btn btn-primary" href="~/Admin/Manager?mid=@mng.ID"> show </a>
                                    <a class="btn btn-warning" href="~/Admin/AddManager?uid=@mng.ID"> edit </a> 
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            }else{
                <div class="page-container height-500">
                    <h3 style="padding: 0px 60px" class="text-center bg-danger text-white"> No messages found. </h3>
                </div> 
            }
        }        
    </div>
</div>