<div class="row">
    <div class="mx-auto">
        <h1 class="text-center"> News overview </h1>
    </div>
</div>
<div class="row">
    <div class="mx-auto" style="margin-top: 5vh">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary float-end" asp-action="AddNew" asp-controller="Admin"> Add new News </a>
            </div>
        </div>
        @{
        List<News> dpm = ViewBag.NewsList;
            if(dpm.Count() != 0){
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> Name </th>
                            <th> Visibility </th>
                            <th> Position </th>
                            <th> Operation </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach(News dep in ViewBag.NewsList){
                            <tr>
                                <td>@dep.ID</td>
                                <td>@dep.Title</td>
                                <td>@dep.Created</td>
                                <td>@dep.Published</td>
                                <td> show 
                                    <a class="btn btn-warning" href="~/Admin/AddNew?nid=@dep.ID"> edit </a> </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            }else{
                <div class="page-container height-500">
                    <h3 style="padding: 0px 60px" class="bg-danger text-center text-white"> No news found. </h3>
                </div> 
            }
        }        
    </div>
</div>