@{
    ViewData["Title"] = "Molecular technologies";
    //Category category = new Category();
    //category = ViewBag.CategoryList;
}



<div class="row pageRow">
    <div class="row bannerNoStyle bannerContainer">
        <h1 class="pTop text-center">@ViewData["Title"]</h1>

    </div>
    <div class="pageContentMain">
        <div class="col-lg-10 offset-lg-1">
            <div class="row techc">
                <div class="col-lg-2 col-12">
                    <div class="techl">
                        <div class="techlic">
                            <div class="cell_186_210"></div>
                            <div class="techli">
                                <img alt="Ultra and high performance centrifuges" src="https://www.accela.eu/files/techs/47/ultra-and-high-performance-centrifuges2.jpg" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-7 col-12 techr">
                    <h1>Ultra and High Performance Centrifuges</h1>
                    <p class="h1desc">Get the the highest performance in the class</p>
                    <div class="text smtext" id="prod_text">
                        <p style="color: #333333; font-size: 12px; font-family: Arial, sans-serif;">Centrifuges are devices for separating particles from a heterogeneous mixture. Fundamental to separation is the increase in the effective gravitational force by spinning the sample in the single cavity or the tubes of a rotor as the &lsquo;mobile part&rsquo; of a centrifuge. Subjected to the respective centrifugal force thus applied, the individual constituents of a sample will differentially sediment according to their physical properties as well as the density and viscosity of the sample solution.</p>
                        <p style="color: #333333; font-size: 12px; font-family: Arial, sans-serif;">Ultracentrifuges are optimised for spinning a rotor at very high speeds generating centrifugal forces as high as 1&thinsp;000&thinsp;000<em>g</em>. They&nbsp;are used in biology for the fractionation of fine particulate samples such as tissue homogenates aiming to isolate subcellular organelles, macromolecules, bacteria or viruses.</p>          <div class="ptextover hide" id="prod_text_over"></div>
                    </div>
                    <p class="show">
                        <a class="show_all " id="show_more" href="javascript:">Show more</a>
                    </p>

                </div>
                <div class="col-lg-3 col-12 manTechDetail">
                    <div class="manic">
                        <div class="cell_88_100"></div>
                        <div class="mani">
                            <img alt="Igor Valerián" src="https://www.accela.eu/files/managers/8/igor-valerian.jpg" />
                        </div>
                    </div>
                    <div class="manr">
                        <p class="func">Business director</p>
                        <p class="name">Igor</p>
                        <p class="name">Valerián</p>
                    </div>
                    <div class="mancon">
                        <p class="phone con">+420 603 223 602</p>
                        <p class="email con">valerian@accela.eu</p>
                    </div>
                    <div class="outerS">
                        <a href="#">
                            <div class="button">
                                <div class="text row">send message <span class="buttonImage"></span></div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>

        </div>
    </div>

  
</div>