.height-500{
    height: 500px;
}

.form-helper {
    font-size: 12px;
    color: #212529;
}

.form-mandatory {
    color: red;
    font-size: 12px;
}

.small-table {
    width: 50%;
}

.margin-top-40 {
    margin-top: 40px;
}

.image-thumbnail
{
    max-width: 200px;
    max-height: 200px;
}
.hide{
    display:none!important;
}