body {
    margin: 0;
    padding: 0;
    border: 0;
}
.menu-item:hover {
    border-top: 4px;
    border-top-color: #00953f;
    border-top-style: solid;
    padding-top: 0px;
}
.menu-item{
    height:25px;
}
