@{
    ViewData["Title"] = "Unsubscriber";
}



<div class="row pageRow">
    <div class="row bannerNoStyle bannerContainerGreen">
        <h1 class="pTop text-center">@ViewData["Title"]</h1>

    </div>
    <div class="pageContentMain">
        <div class="col-lg-10 offset-lg-1">
            <div class="row pagetext text">

                <h3>@ViewData["Message"]</h3>
                
            </div>

        </div>

    </div>
</div>
