@{
    ViewData["Title"] = "About";
}



<div class="row pageRow">
    <div class="row bannerNoStyle bannerContainerGreen">
        <h1 class="pTop text-center">@ViewData["Title"]</h1>

    </div>
    <div class="pageContentMain">
        <div class="col-lg-10 offset-lg-1">
            <div class="row pagetext text">
                <h3>Our Story</h3>
                <p>The story began in 1997, when BioTech a.s. was founded. Back&nbsp;in 2009 we formed BioTech-Europe as a division of BioTech a.s. Our intention was to create a dedicated team to supply and support Life-Science Technologies in the territory of Central and Eastern Europe.&nbsp; Our credible team has been and still is committed to delivering the first class support to our customers have become accustomed to.</p>
                <p>The Story accelerates since September 1st, 2015, when the BioTech-Europe was transformed into a successor company <strong>ACCELA</strong>.</p>
                <p style="text-align: center;">The <strong>ACCELA</strong><strong>&nbsp;</strong>motto is <strong>Accelerate your biomedical research!</strong></p>
                <h3>Our Mission</h3>
                <p>Our mission is to add value for our customers by providing to&nbsp;them progressive and innovative technologies, which can help to answer their scientific questions. We work hard to always follow new trends and technology development in order to offer relevant advices to our customers.</p>
                <h3>Our Values</h3>
                <p>Our commitment to supporting and adding value for our customers drives everything we do.&nbsp;We have built up a team of product managers, who are fully competent to introduce and support particular technologies based on the specific application needs of our customers. Next to application support we provide a technical service support by our technical support team. A warranty and a post-warranty service support is also an integral part of each project.</p>
                <p>&nbsp;</p>
                <p style="text-align: center;"><strong>Recently, accela s.r.o. became a leading supplier of High Tech Innovative Life-Science Technologies in the territory of Central and Eastern Europe.</strong></p>
            </div>

        </div>

        </div>
    </div>
</div>

    
