@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="row bg-warning">
    <div class="col-lg-2 w-0 h-100">



    </div>
    <div class="col-lg-8 w-100">
        <!-- base of div for responsibility  -->

        <div class="row">
            <h1> OUR BRANDS</h1>
            <p>As a leading supplier of Life-Science Technologies in the territory of Central and Eastern Europe, we have developed trust and strong relationship with our partners - companies, manufacturing the most advanced High Tech – State Of The Art technologies. The mutual commitment to deliver the first class support to our customers makes us a credible team.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 w-50 bg-danger hpProdItemL">
                <p>sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-50 bg-danger hpProdItemM">
                <p>sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-50 bg-danger hpProdItemR">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-50 bg-danger hpProdItemR">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-50 bg-danger hpProdItemR">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-50 bg-danger hpProdItemR">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-50 bg-danger hpProdItemR">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-50 bg-danger hpProdItemR">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-50 bg-danger hpProdItemR">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-50 bg-danger hpProdItemR">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-50 bg-danger hpProdItemR">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-50 bg-danger hpProdItemR">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-50 bg-danger hpProdItemR">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-50 bg-danger hpProdItemR">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-50 bg-danger hpProdItemR">
                <p>Product sdfds gfdg df gdf g</p>
            </div>

            <div class="col-lg-4 w-50 bg-danger hpProdItemR">
                <p>Product sdfds gfdg df gdf g</p>
            </div>

        </div>

        <!-- base of div for responsibility  -->
    </div>
    <div class="col-lg-2 w-0 h-100">
        <div class="row">


        </div>

    </div>
</div>
