@{
    ViewData["Title"] = "Brands";
}

<div class="row pageRow">
    <div class="row bannerNoStyle bannerContainer">
        <h1 class="pTop text-center">@ViewData["Title"]</h1>

    </div>
    <div class="pageContentMain">
        <div class="col-lg-10 col-12 offset-1">
            <!-- base of div for responsibility  -->

            <div class="row">
                <h2 class="text-center hpSubTitle"> OUR BRANDS</h2>
                <p class="col-lg-10 offset-lg-1 brandText">As a leading supplier of Life-Science Technologies in the territory of Central and Eastern Europe, we have developed trust and strong relationship with our partners - companies, manufacturing the most advanced High Tech – State Of The Art technologies. The mutual commitment to deliver the first class support to our customers makes us a credible team.</p>
            </div>
            <div class="row">
                @{
                    foreach (Brand brand in ViewBag.BrandList)
                    {
                        <div class="col-12 col-lg-4 hpProdItemM">
                            <div class="row">
                                <div class="brandItem col-lg-4 col-12">
                                    <a href="#">
                                        <div class="brandItemImage">
                                            <img src="~/file/img/Brands/@brand.ImageRelativeURL" />

                                        </div>

                                    </a>
                                </div>
                                <div class="brandItemText col-lg-8 col-12">
                                    <h3 class="brandSubTitle col-12">
                                        <a href="https://www.accela.eu/agilent-technologies">@brand.Name</a>
                                    </h3>
                                    <div class="text">
                                        <p style="text-align: justify;">
                                            @brand.SmallText
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                }


                <!--Brand start-->
                <div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>


                <!--Brand end-->




                <!--<div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 hpProdItemM">
                    <div class="row">
                        <div class="brandItem col-lg-4 col-12">
                            <a href="#">
                                <div class="brandItemImage">
                                    <img src="~/file/pictures/agilent-technologies-logo.png" />

                                </div>

                            </a>
                        </div>
                        <div class="brandItemText col-lg-8 col-12">
                            <h3 class="brandSubTitle col-12">
                                <a href="https://www.accela.eu/agilent-technologies">ANOAgilent technologies</a>
                            </h3>
                            <div class="text">
                                <p style="text-align: justify;">
                                    Agilent provides xCELLigence impedance-based, label-free,
                                    real time cell analysis system and NovoCyte flow cytometers.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>-->












            </div>

            <!-- base of div for responsibility  -->
        </div>
        <div class="col-lg-1">
            <div class="row">


            </div>

        </div>

    </div>
    
</div>
