@{
    ViewData["Title"] = "Career";
}



<div class="row pageRow">
    <div class="row bannerNoStyle bannerContainer">
        <h1 class="pTop text-center">@ViewData["Title"]</h1>

    </div>
    <div class="pageContentMain">
        <div class="col-lg-10 offset-lg-1">
            <div class="row text">
                <h3>Sales managers Poland&nbsp;<strong style="font-size: 13px;">/ Czech Republic&nbsp;</strong>/ Hungary</h3>
                <p>In order to strengthen our team&nbsp;we are looking for a new colleagues:</p>
                <p><strong>Sales managers and application specialists for territory of&nbsp;Poland&nbsp;/ Czech Republic / Hungary</strong><br /><strong>CELLULAR BIOLOGY, MOLECULAR&nbsp;<strong>BIOLOGY, PRECLINICAL RESEARCH</strong></strong></p>
                <p><strong>Requirements:</strong></p>
                <ul>
                    <li>University degree biology, medical or biochemistry oriented - Mgr, Ing, PhD ...&nbsp;</li>
                    <li>Practical experience in cellular/molecular biology/preclinical research</li>
                    <li>Fluent English</li>
                    <li>Native Polish / Hungarian</li>
                    <li>Time and personal flexibility</li>
                    <li>Eagerness for success</li>
                    <li>Driving license type B</li>
                </ul>
                <p><strong>Job content:</strong></p>
                <ul>
                    <li>Communication with customers, presentations of appropriate technologies</li>
                    <li>Realization of individual sales and following application support</li>
                    <li>Searching for new customers/opportunities</li>
                    <li>Communication with suppliers and their technical support team</li>
                    <li>Periodical trainings</li>
                    <li>Organization of workshops, seminars and conferences</li>
                </ul>
                <p><strong>Please send&nbsp;us&nbsp;your CV&nbsp;and letter of motivation by e-mail to:&nbsp;valerian@accela.eu</strong></p>
            </div>
              
            
          

        </div>
    </div>
</div>

    
