@{
    ViewData["Title"] = "Contact";
}



<div class="row bg-warning">
    <div class="row bannerNoStyle bannerContainer">
        <h1 class="pTop text-center">@ViewData["Title"]</h1>
       
    </div>
    <div class="col-lg-1">



    </div>
    <div class="col-lg-10">
        <div class="row">
            <div class="col-12 col-lg-4 bg-light">
                <div class="contl">
                    <h2>General information</h2>
                    <p class="adress">
                        accela s.r.o.<br />
                        Služeb 4<br />
                        Praha 10<br />
                        ZIP 108 00 <br>Czech Republic<br />
                    </p>
                    <p class="phone">+420 255 700 886</p>
                    <p class="email">accela@accela.eu</p>
                    <p class="twitter"><a href="https://twitter.com/accela_eu" target="_blank" style="color:#313131;">accela_eu</a></p>
                    <p class="linkedin"><a href="https://www.linkedin.com/company/accela-eu/" target="_blank" style="color:#313131;">LinkedIn</a></p>
                    <a href="javascript:" class="button show_popup popup_small">Send message</a>
                </div>
            </div>
            <div class="col-12 col-lg-8 bg-success">
                <img class="w-100" src="~/file/pictures/Mapa_EU.jpg" />
            </div>

        </div>
        <div class="row">
            <h2 class="text-center">OFFICES</h2>
            <div class="col-lg col-6">
                <p class="title">Headquarters:</p>
                <p class="line add">
                    <span class="icon"></span>
                    <span class="desc">Služeb 4, Prague Czech Republic</span>
                </p>
                <p class="line phone">
                    <span class="icon iconphone"></span>
                    <span class="desc">+420 255 700 886</span>
                </p>
                

            </div>
            <div class="col-lg col-6">
                <p class="title">Branch office - Poland:</p>
                <p class="line add">
                    <span class="icon iconadd"></span>
                    <span class="desc">Al. Jerozolimskie 202 Warszawa</span>
                </p>
                <p class="line phone">
                    <span class="icon iconphone"></span>
                    <span class="desc">+48 797 701 028</span>
                </p>

            </div>
            <div class="col-lg col-6">
                <p class="title">Branch office - Slovakia:</p>
                <p class="line add">
                    <span class="icon iconadd"></span>
                    <span class="desc">Kresánkova 12 Bratislava</span>
                </p>
                <p class="line phone">
                    <span class="icon iconphone"></span>
                    <span class="desc">+420 739 394 360</span>
                </p>
            </div>
            <div class="col-lg col-6">
                <p class="title">Branch office - Hungary:</p>
                <p class="line add">
                    <span class="icon iconadd"></span>
                    <span class="desc">Gyári út 33 Szigetszentmiklós</span>
                </p>
                <p class="line phone">
                    <span class="icon iconphone"></span>
                    <span class="desc">+420 603 223 602</span>
                </p>
            </div>
            <div class="col-lg col-6">
                <p class="title">Branch office - Romania:</p>
                <p class="line add">
                    <span class="icon iconadd"></span>
                    <span class="desc">9 Ofrandei St., 077025, Bragadiru, Ilfov Romania</span>
                </p>
                <p class="line phone">
                    <span class="icon iconphone"></span>
                    <span class="desc">+40 749 952 785</span>
                </p>
            </div>

        </div>
        <div class="row">
            <h2 class="text-center">CUSTOMER SUPPORT</h2>

        </div>
        <div class="row">
            <div class="col-lg-4 col-12">
                <p> gf gdf gdf gdf gdfg df</p>
            </div>
            <div class="col-lg-4 col-12">
                <p>g fg dfgh gd hg</p>
            </div>
            <div class="col-lg-4 col-12">
                <p>gfgfd gdf gdf</p>
            </div>

        </div>

    </div>
    <div class="col-lg-1">
        

    </div>
</div>