@{
    ViewData["Title"] = "Accelerate to discover";
}



<div class="row pageRow">
    <div class="row bannerNoStyle bannerContainer">
        <h1 class="pTop text-center">@ViewData["Title"]</h1>

    </div>
    <div class="pageContentMain">
       
        <div class="col-lg-10 col-12 offset-1">
            <!-- base of div for responsibility  -->
            <!--<div class="row">
            <h1> OUR BRANDS</h1>
            <p>As a leading supplier of Life-Science Technologies in the territory of Central and Eastern Europe, we have developed trust and strong relationship with our partners - companies, manufacturing the most advanced High Tech – State Of The Art technologies. The mutual commitment to deliver the first class support to our customers makes us a credible team.</p>
        </div>-->
            <div class="row">
                <div class="col-lg-9 col-12 bg-success">
                    <div class="row make-columns">
                        <button type="button" class="btn btn-primary discoverModalButton" data-bs-toggle="modal" data-bs-target="#exampleModal">Filters</button>
                        <div class="col-12 bg-dark">
                            <img class="w-100" src="~/file/demo/880x220-kopie-3.jpg" />
                            <p>aaaaa</p>

                        </div>

                        <div class="container">
                            <div class="card-columns">
                                <!--discover first type start-->
                                <div class="card">
                                    <img class="card-img-top" src="http://via.placeholder.com/1600x900/483D8B/ffffff?text=Card+1" alt="Card image cap">
                                    <div class="card-body">
                                        <a href="#">
                                            <h5 class="card-title">Card title that wraps to a new line</h5>
                                        </a>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="date">Jun 11, 2021</p>
                                        <div class="ntags">
                                            <div class="ntag">
                                                <span>Application</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--discover first type end-->
                                <div class="card">
                                    <img class="card-img-top" src="http://via.placeholder.com/1600x900/483D8B/ffffff?text=Card+1" alt="Card image cap">
                                    <div class="card-body">
                                        <a href="#">
                                            <h5 class="card-title">Card title that wraps to a new line</h5>
                                        </a>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="date">Jun 11, 2021</p>
                                        <div class="ntags">
                                            <div class="ntag">
                                                <span>Application</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="http://via.placeholder.com/1600x900/483D8B/ffffff?text=Card+1" alt="Card image cap">
                                    <div class="card-body">
                                        <a href="#">
                                            <h5 class="card-title">Card title that wraps to a new line</h5>
                                        </a>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="date">Jun 11, 2021</p>
                                        <div class="ntags">
                                            <div class="ntag">
                                                <span>Application</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                            <div class="ntag ntaglast">
                                                <span>Webinar</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>







                                <!--discover second type start-->
                                <div class="card">
                                    <div class="card-top bg-success">
                                        <p>fsd dfg df</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="newsreftext">
                                            <p class="card-text">
                                                <em>
                                                    "Thanks to the Vevo 2100, high-frequency ultrasound, we are able to evaluate multiple animal models of human cardiovascular diseases and tumoral pathology. It is an excellent tool for applying basic research to disease translational research".
                                                </em>
                                            </p>
                                        </div>
                                        <p class="author">Dr. Bogdan Marinescu</p>
                                        <p class="company">'Victor Babeș' National Institute of Pathology, Bucharest, Romania</p>
                                        <div class="newsrefic">
                                            <div class="newsrefi">
                                                <img src="https://www.accela.eu/files/references/15/bannernou3.png" />
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <!--discover second type end-->


                                <div class="card bg-primary text-white text-center p-3">
                                    <blockquote class="blockquote mb-0">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                                        <footer class="blockquote-footer">
                                            <small>
                                                Someone famous in <cite title="Source Title">Source Title</cite>
                                            </small>
                                        </footer>
                                    </blockquote>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img" src="http://via.placeholder.com/1600x1600/FF1493/ffffff?text=Card+3" alt="Card image">
                                </div>
                                <div class="card p-3 text-right">
                                    <blockquote class="blockquote mb-0">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                        <footer class="blockquote-footer">
                                            <small class="text-muted">
                                                Someone famous in <cite title="Source Title">Source Title</cite>
                                            </small>
                                        </footer>
                                    </blockquote>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-3 bg-light discoverSearchContainer">
                    <div class="pfil">
                        <p class="title">Technologies</p>
                        <input class="w-100" value="" placeholder="Type your keyword" type="text" name="keyword" />
                    </div>
                    <div class="pfil">
                        <p class="title">Technologies</p>
                        <div>


                            <div class="pfilf">
                                <input type="checkbox" id="field-1" value="1" class="fil_fieldch filterch" />
                                <a href="javascript:" class="fil_field">Molecular technologies</a>
                            </div>
                            <div class="pfilf">
                                <input type="checkbox" id="field-2" value="1" class="fil_fieldch filterch" />
                                <a href="javascript:" class="fil_field">Cellular analysis</a>
                            </div>
                            <div class="pfilf">
                                <input type="checkbox" id="field-3" value="1" class="fil_fieldch filterch" />
                                <a href="javascript:" class="fil_field">Flow cytometry</a>
                            </div>
                            <div class="pfilf">
                                <input type="checkbox" id="field-4" value="1" class="fil_fieldch filterch" />
                                <a href="javascript:" class="fil_field">In vivo imaging</a>
                            </div>
                            <div class="pfilf">
                                <input type="checkbox" id="field-5" value="1" class="fil_fieldch filterch" />
                                <a href="javascript:" class="fil_field">Animal research</a>
                            </div>
                        </div>
                    </div>





                    <div class="pfil">
                        <p class="title">Type of the news</p>
                        <div id="filter_tags">

                            <div class="pfilf">
                                <input type="checkbox" id="tag-1" value="1" class="fil_tagch filterch" />
                                <a href="javascript:" class="fil_field">Scientific paper</a>
                            </div>
                            <div class="pfilf">
                                <input type="checkbox" id="tag-2" value="1" class="fil_tagch filterch" />
                                <a href="javascript:" class="fil_field">Technical breakthrough</a>
                            </div>
                            <div class="pfilf">
                                <input type="checkbox" id="tag-5" value="1" class="fil_tagch filterch" />
                                <a href="javascript:" class="fil_field">Application</a>
                            </div>
                            <div class="pfilf">
                                <input type="checkbox" id="tag-7" value="1" class="fil_tagch filterch" />
                                <a href="javascript:" class="fil_field">Meet us</a>
                            </div>
                            <div class="pfilf">
                                <input type="checkbox" id="tag-6" value="1" class="fil_tagch filterch" />
                                <a href="javascript:" class="fil_field">Product news</a>
                            </div>
                            <div class="pfilf">
                                <input type="checkbox" id="tag-4" value="1" class="fil_tagch filterch" />
                                <a href="javascript:" class="fil_field">Video</a>
                            </div>
                            <div class="pfilf">
                                <input type="checkbox" id="tag-3" value="1" class="fil_tagch filterch" />
                                <a href="javascript:" class="fil_field">Webinar</a>
                            </div>
                        </div>
                    </div>
                    <div class="pfil">
                        <p class="title">References</p>
                        <div id="filter_tags">
                            <div class="pfilf">
                                <input type="checkbox" id="references_checked" value="1" class="fil_refch filterref" />
                                <a href="javascript:" class="fil_field">Show only references</a>
                            </div>
                        </div>
                    </div>




                    <div class="pfil">
                        <p class="title">Brands</p>
                        <div id="filter_brands" class="pfilbrands row">

                            <div class="pfilb col-6">
                                <div class="pfilbic">
                                    <div class="pfilbi">
                                        <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" />
                                    </div>
                                </div>
                                <input type="checkbox" id="brand-31" value="1" class="fil_brandch filterch" />
                            </div>
                            <div class="pfilb pfilbr col-6">
                                <div class="pfilbic">
                                    <div class="pfilbi">
                                        <img alt="Animal Care Systems" src="https://www.accela.eu/files/brands/37/acs_logo.png" />
                                    </div>
                                </div>
                                <input type="checkbox" id="brand-37" value="1" class="fil_brandch filterch" />
                            </div>
                            <div class="pfilb col-6">
                                <div class="pfilbic">
                                    <div class="pfilbi">
                                        <img alt="Bruker Biospin" src="https://www.accela.eu/files/brands/33/bruker.png" />
                                    </div>
                                </div>
                                <input type="checkbox" id="brand-33" value="1" class="fil_brandch filterch" />
                            </div>

                        </div>
                        <a class="pfilshowbrands" id="show_brands">
                            <span class="image"></span>
                            <span class="desc">Show all brands (35)</span>
                        </a>
                    </div>






                </div>






            </div>

            <!-- base of div for responsibility  -->
        </div>
        <div class="col-lg-1">


        </div>

    </div>
    
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


