@{
    ViewData["Title"] = "Downloads";
}



<div class="row pageRow">
    <div class="row bannerNoStyle bannerContainerGreen">
        <h1 class="pTop text-center">@ViewData["Title"]</h1>

    </div>
    <div class="pageContentMain downloadsContainer">
        <div class="col-lg-10 offset-lg-1">
            <div class="row">


                <div class="container">
                    <div class="card-columns">
                        <!--technologie start-->
                        <div class="card techsi down">
                            <div class="downic downic2">
                                <div class="downi">
                                    <img alt="Sartorius" src="https://www.accela.eu/files/brands/50/download.png" />
                                </div>
                            </div>
                            <p class="desc">Application Note</p>
                            <h3>IncuCyte chemotaxis cell migration-invasion</h3>
                            <div class="downfs files">
                                <p class="file file_pdf">
                                    <a href="https://www.accela.eu/files/downloads/9/incucyte_chemotaxis_cell_migration-invasion_app_note_1.pdf" rel="" target="_blank" data-type="pdf" class="file pdf">incucyte_chemotaxis_cell_migration-invasion_app_note_1 (1,43&nbsp;MB)</a>
                                </p>
                            </div>
                        </div>
                        <!--technologie konec-->

                        
                        <div class="card techsi down">
                            <div class="downic downic1">
                                <div class="cell_88_100"></div>
                                <div class="downi">
                                    <img alt="Logo" src="https://www.accela.eu/files/downloads/7/logo-verticaledited.jpg" />
                                </div>
                            </div>
                            <p class="desc"></p>
                            <h3>Logo</h3>
                            <div class="downfs files">
                                <p class="file file_img">
                                    <a href="https://www.accela.eu/files/downloads/7/logo-horizontal.png" rel="" target="_blank" data-type="img" class="file img">logo-horizontal (7&nbsp;kB)</a>
                                </p>
                                <p class="file file_pdf">
                                    <a href="https://www.accela.eu/files/downloads/7/logo-horizontal.pdf" rel="" target="_blank" data-type="pdf" class="file pdf">logo-horizontal (289&nbsp;kB)</a>
                                </p>
                                <p class="file file_img">
                                    <a href="https://www.accela.eu/files/downloads/7/logo-vertical.png" rel="" target="_blank" data-type="img" class="file img">logo-vertical (5&nbsp;kB)</a>
                                </p>
                                <p class="file file_pdf">
                                    <a href="https://www.accela.eu/files/downloads/7/logo-vertical.pdf" rel="" target="_blank" data-type="pdf" class="file pdf">logo-vertical (289&nbsp;kB)</a>
                                </p>
                            </div>
                        </div>




                        <div class="card p-3">
                            <blockquote class="blockquote mb-0 card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">
                                    <small class="text-muted">
                                        Someone famous in <cite title="Source Title">Source Title</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="http://via.placeholder.com/1600x450/9400D3/ffffff?text=Card+2" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card bg-primary text-white text-center p-3">
                            <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                                <footer class="blockquote-footer">
                                    <small>
                                        Someone famous in <cite title="Source Title">Source Title</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img" src="http://via.placeholder.com/1600x1600/FF1493/ffffff?text=Card+3" alt="Card image">
                        </div>
                        <div class="card p-3 text-right">
                            <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">
                                    <small class="text-muted">
                                        Someone famous in <cite title="Source Title">Source Title</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

    
