@{
    ViewData["Title"] = "Home Page";
}

<!--
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

-->

<div class="hpTop bg-danger">
    <!--
        <img class="hpImage" src="~/file/pictures/home_back.jpg" />
    -->
    <h1 class="hpTitle">Accela</h1>
    <div class="row hpTechSubmenu">
        <div class="col-lg-2 w-50 offset-lg-1 bg-info hpSubmenu">

        </div>
        <div class="col-lg-2 w-50 bg-warning hpSubmenu">

        </div>
        <div class="col-lg-2 w-50 bg-warning hpSubmenu">

        </div>
        <div class="col-lg-2 w-50 bg-warning hpSubmenu">

        </div>
        <div class="col-lg-2 w-50 bg-warning hpSubmenu">

        </div>
    </div>
</div>
<!-- base of div for responsibility  -->
<div class="row bg-dark">
    <div class="col-lg-2 w-0 h-100 bg-danger">



    </div>
    <div class="col-lg-8 w-100">
        <!-- base of div for responsibility  -->

        <div class="row">
            <p class="mx-auto hpSubTitle">Accelerate to discover</p>
        </div>
        <div class="row">
            <div class="col-lg w-100 bg-primary hpDiscoverItemL">
                <p>gfsd gdf g</p>
            </div>
            <div class="col-lg w-100 bg-primary hpDiscoverItemM">
                <p>gfsd gdf g</p>
            </div>
            <div class="col-lg w-100 bg-primary hpDiscoverItemR">
                <p>aaaaaaaa aaa a aa aaaa a aaa </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg w-100 bg-primary hpDiscoverItemL">
                <p>TECHNOLOGIES</p>
            </div>
            <div class="col-lg w-100 bg-primary hpDiscoverItemR">
                <p>TYPE OF THE NEWS</p>
            </div>

        </div>

        <div class="row">
            <p>sdfds gfdg df gdf g</p>

        </div>




        <!-- base of div for responsibility  -->
    </div>
    <div class="col-lg-2 w-0 h-100">
        <div class="row">


        </div>

    </div>
</div>

<div class="row bg-warning">
    <div class="col-lg-2 w-0 h-100">



    </div>
    <div class="col-lg-8 w-100">
        <!-- base of div for responsibility  -->

        <div class="row">
            <p class="mx-auto hpSubTitle">Featured products</p>
        </div>
        <div class="row">
            <div class="col-lg-4 w-100 bg-danger hpProdItemL">
                <p>sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-100 bg-danger hpProdItemM">
                <p>sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-4 w-100 bg-danger hpProdItemR">
                <p>Product sdfds gfdg df gdf g</p>
            </div>

        </div>

        <!-- base of div for responsibility  -->
    </div>
    <div class="col-lg-2 w-0 h-100">
        <div class="row">


        </div>

    </div>
</div>
<!-- base of div for responsibility  -->

<div class="row bg-warning">
    <div class="col-lg-2 w-0 h-100">



    </div>
    <div class="col-lg-8 w-100">
        <!-- base of div for responsibility  -->

        <div class="row">
            <p class="mx-auto hpSubTitle">Our brands</p>
        </div>
        <div class="row">
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>
            <div class="col-lg-2 w-25 hpBrandsPolygon">
                <p>Product sdfds gfdg df gdf g</p>
            </div>


        </div>


        <!-- base of div for responsibility  -->
    </div>
    <div class="col-lg-2 w-0 h-100">
        <div class="row">


        </div>

    </div>
</div>
<!-- base of div for responsibility  -->
