@{
    ViewData["Title"] = "Meet us";
}



<div class="row pageRow">
    <div class="row bannerNoStyle bannerContainerGreen">
        <h1 class="pTop text-center">@ViewData["Title"]</h1>

    </div>
    <div class="pageContentMain">
        <div class="col-lg-10 offset-lg-1">
            <div class="row">

                <div class="ecal">
                    <h2>Next events:</h2>
                </div>

                <div class="events">
                    <div class="event">
                        <div class="eventbook" id="event-79"></div>
                        <div class="eventic">
                            <div class="eventi">
                                <img alt="ACCELA Educational webinar series: NanoView - Purification-free characterization of extracellular vesicles and viruses" src="https://www.accela.eu/files/events/79/unnamed.jpg" />
                            </div>
                            <div class="cell_88_100"></div>
                        </div>
                        <div class="eventr">
                            <h2>
                                <a href="javascript:" class="etogg2" rel="event_plusminus-79">ACCELA Educational webinar series: NanoView - Purification-free characterization of extracellular vesicles and viruses</a>
                            </h2>
                            <p class="desc"></p>
                        </div>
                        <a href="javascript:" class="etogg  etoggp" id="event_plusminus-79" rel="eventtog-79">Show more<span></span></a>
                        <div class="eventc hide" id="eventtog-79">
                            <div class="eventt text eventts col-lg-6 col-12">
                                <p style="text-align: justify;"><span style="color: #232333; font-size: 14px; font-family: Lato, Helvetica, Arial;">NanoView Biosciences has developed a unique technology for purification-free analysis of extracellular vesicles and viruses. Exosomes are affinity captured onto a protein microarray (ExoView chip) via common or custom exosomal markers.</span></p>
                                <p style="text-align: justify;"><span style="color: #232333; font-size: 14px; font-family: Lato, Helvetica, Arial;">Once bound to the surface of the ExoView chip each individual exosome can be sized, counted and characterized in terms of protein expression. Fluorescent antibodies can be added (in 3 channels so that up to 4 proteins can be measured on individual exosomes with single-molecule sensitivities meaning that even the smallest of exosomes and can be detected and characterized. Exosomal cargo can also be detected through the application of cargo protocols to detect proteins not expressed on the surface of exosomes.</span><br style="color: #232333; font-size: 14px; font-family: Lato, Helvetica, Arial;" /><br style="color: #232333; font-size: 14px; font-family: Lato, Helvetica, Arial;" /><strong><span style="color: #232333; font-size: 14px; font-family: Lato, Helvetica, Arial;">Thursday, June 24th, 14:00 CET</span></strong><br style="color: #232333; font-size: 14px; font-family: Lato, Helvetica, Arial;" /><strong><span style="color: #232333; font-size: 14px; font-family: Lato, Helvetica, Arial;">Andrew Malloy , VP of Sales and Marketing, NanoView Biosciences</span></strong><br style="color: #232333; font-size: 14px; font-family: Lato, Helvetica, Arial;" /><br style="color: #232333; font-size: 14px; font-family: Lato, Helvetica, Arial;" /><a href="https://zoom.us/meeting/register/tJ0uf-iqpjIiHd0OXSD0UpFAh3dvL0BQo0ox">Learn more! Register now</a></p>
                            </div>
                            <div class="eventf col-lg-6 col-12">
                                <h3>Registration</h3>
                                <div class="form">
                                    <input type="hidden" name="type" id="type" value="event" class="" />
                                    <input type="hidden" name="item_id" id="item_id" value="79" class="" />
                                    <div class="fline">
                                        <div class="flinel">
                                            <input type="text" name="[name]" id="name" class="text name validate_text" value="" placeholder="Your name *" />
                                        </div>
                                        <div class="flinel fliner">
                                            <input type="text" name="[email]" id="email" class="text email validate_email" value="" placeholder="Your email *" />
                                        </div>
                                    </div>
                                    <div class="fline">
                                        <div class="flinel">
                                            <input type="text" name="[phone]" id="phone" class="text phone validate_text_vlong" value="" placeholder="Your phone *" />
                                        </div>
                                        <div class="flinel fliner">
                                            <input type="text" name="[institution]" id="institution" class="text institution" value="" placeholder="Institution" />
                                        </div>
                                    </div>
                                    <div class="fline">
                                        <textarea id="text" name="[text]" placeholder="Your message"></textarea>
                                    </div>
                                    <div class="fline flinec">
                                        <input class="form-check-input check" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="newsletter">
                                            Please send me news & information
                                        </label>
                                    </div>
                                    <div class="fline flinec">
                                        <a href="javascript:" class="button submit">Register now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="eventbook" id="event-80"></div>
                        <div class="eventic">
                            <div class="eventi">
                                <img alt="ACCELA Educational webinar series: IntraVital Microscopy (IVM): In Vivo Live Cell Imaging Platform" src="https://www.accela.eu/files/events/80/intravital_microscope_1328.jpg" />
                            </div>
                            <div class="cell_88_100"></div>
                        </div>
                        <div class="eventr">
                            <h2>
                                <a href="javascript:" class="etogg2" rel="event_plusminus-80">ACCELA Educational webinar series: IntraVital Microscopy (IVM): In Vivo Live Cell Imaging Platform</a>
                            </h2>
                            <p class="desc"></p>
                        </div>
                        <a href="javascript:" class="etogg  etoggp" id="event_plusminus-80" rel="eventtog-80">Show more<span></span></a>
                        <div class="eventc hide" id="eventtog-80">
                            <div class="eventt text eventts col-lg-6 col-12">
                                <p style="text-align: justify;"><span style="color: #232333; font-size: 14px; font-family: Lato, Helvetica, Arial;">Intravital microscopy can visualize various in vivo cellular-level dynamics such as cell trafficking, cell-to-cell or cell-to-microenvironment interactions in a living animal. Intravital imaging of pathophysiological cellular dynamics in natural in vivo microenvironment in various preclinical animal model can provide an unprecedented insight in the dynamic processes of human diseases beyond conventional histological observation of ex vivo sample or in vitro culture sample.</span></p>
                                <p style="text-align: justify;"><span style="color: #232333; font-size: 14px; font-family: Lato, Helvetica, Arial;">In this talk, a real-time laser-scanning intravital confocal/two-photon microscopy system will be introduced. The imaging system has been extensively optimized for in vivo cellular-level imaging of internal organs in live animal model for various human diseases, which can acquire a real-time multi-color fluorescence microscopic image in sub-micron resolution. Intravital microscopic imaging of various organs including skin, liver, spleen, pancreas, kidney, small intestine, colon, retina, lung, heart, lymph node, and bone marrow will be briefly introduced.<br /><br /><strong style="font-size: 13px;">Tuesday, June 29th, 11:00 CET</strong><br /><strong style="font-size: 13px;">Dr. Pilhan Kim, Korea Advanced Institute of Science and Technology (KAIST)</strong><br /><strong style="font-size: 13px;"><a href="https://zoom.us/meeting/register/tJcrf-GrrDssEtJ0iyGi9ZRoQeNmHOropa2G">Register now!</a></strong></span></p>
                            </div>
                            <div class="eventf col-lg-6 col-12">
                                <h3>Registration</h3>
                                <div class="form">
                                    <input type="hidden" name="type" id="type" value="event" class="" />
                                    <input type="hidden" name="item_id" id="item_id" value="80" class="" />
                                    <div class="fline">
                                        <div class="flinel">
                                            <input type="text" name="[name]" id="name" class="text name validate_text" value="" placeholder="Your name *" />
                                        </div>
                                        <div class="flinel fliner">
                                            <input type="text" name="[email]" id="email" class="text email validate_email" value="" placeholder="Your email *" />
                                        </div>
                                    </div>
                                    <div class="fline">
                                        <div class="flinel">
                                            <input type="text" name="[phone]" id="phone" class="text phone validate_text_vlong" value="" placeholder="Your phone *" />
                                        </div>
                                        <div class="flinel fliner">
                                            <input type="text" name="[institution]" id="institution" class="text institution" value="" placeholder="Institution" />
                                        </div>
                                    </div>
                                    <div class="fline">
                                        <textarea id="text" name="[text]" placeholder="Your message"></textarea>
                                    </div>
                                    <div class="fline flinec">
                                        <input class="form-check-input check" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="newsletter">
                                            Please send me news & information
                                        </label>
                                    </div>
                                    <div class="fline flinec">
                                        <a href="javascript:" class="button submit">Register now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ecal">
                    <h2>Past events:</h2>
                </div>
                <div class="events">
                    <div class="event">
                        <div class="eventbook" id="event-77"></div>
                        <div class="eventic">
                            <div class="eventi">
                                <img alt="Meet us at Middle-European Immunology and Allergology conference (MESIA) " src="https://www.accela.eu/files/events/77/kongres.jpg" />
                            </div>
                            <div class="cell_88_100"></div>
                        </div>
                        <div class="eventr">
                            <h2>
                                <a href="javascript:" class="etogg2" rel="event_plusminus-77">Meet us at Middle-European Immunology and Allergology conference (MESIA) </a>
                            </h2>
                            <p class="desc">X-Bionic Hotel,Bratislava-Šamorín,Slovakia</p>
                        </div>
                        <a href="javascript:" class="etogg  etoggp" id="event_plusminus-77" rel="eventtog-77">Show more<span></span></a>
                        <div class="eventc hide" id="eventtog-77">
                            <div class="eventt text eventtb">
                                <p style="text-align: justify;"><span style="color: #818181; font-size: 20px; font-family: Lato, sans-serif;">It is an honour and great pleasure to invite you to the&nbsp;Middle-European Immunology and Allergology conference (MESIA) in Slovakia, Bratislava-&Scaron;amor&iacute;n. ACCELA will be present with breakthrough speech on <strong>"Cytek Spectral flow cytometry" during the Cancer Immunology session, Friday,&nbsp;29.11, 10:00 - 12:00.</strong></span></p>
                                <p style="text-align: justify;"><a href="https://www.mesia2019.sk/Programme.htm">Meet us!&nbsp;</a></p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        

        </div>
    </div>
</div>

    
