@{
    ViewData["Title"] = "References";
}



<div class="row bg-warning">
    <div class="row bannerNoStyle bannerContainer">
        <h1 class="pTop text-center">@ViewData["Title"]</h1>

    </div>

    <div class="col-lg-10 offset-lg-1">
        <div class="row">
            <div class="bg-danger refContainerF">
                <div class="refImage">
                    <img src="~/file/pictures/muol.png" />
                </div>
                <p class="desc">sdfds  gdfg dfh d hgh gfh gfh gfh gf  gfdg df gdf g</p>
            </div>
            <div class="bg-danger refContainer">
                <div class="refImage">
                    <img src="~/file/pictures/muol.png" />
                </div>
                <p class="desc">sdfds gfdg df gdf g</p>
            </div>
            <div class="bg-danger refContainer">
                <div class="refImage">
                    <img src="~/file/pictures/muol.png" />
                </div>
                <p class="desc">sdfds gfdg df gdf g</p>
            </div>
            <div class="bg-danger refContainerT">
                <div class="refImage">
                    <img src="~/file/pictures/muol.png" />
                </div>
                <p class="desc">sdfds gfdg df gdf g</p>
            </div>

            <div class="bg-danger refContainerF">
                <div class="refImage">
                    <img src="~/file/pictures/muol.png" />
                </div>
                <p class="desc">sdfds gfdg df gdf g</p>
            </div>
            <div class="bg-danger refContainer">
                <div class="refImage">
                    <img src="~/file/pictures/muol.png" />
                </div>
                <p class="desc">sdfds gfdg df gdf g</p>
            </div>
            <div class="bg-danger refContainer">
                <div class="refImage">
                    <img src="~/file/pictures/muol.png" />
                </div>
                <p class="desc">sdfds gfdg df gdf g</p>
            </div>
            <div class="bg-danger refContainerT">
                <div class="refImage">
                    <img src="~/file/pictures/muol.png" />
                </div>
                <p class="desc">sdfds gfdg df gdf g</p>
            </div>

            <div class="bg-danger refContainerF">
                <div class="refImage">
                    <img src="~/file/pictures/muol.png" />
                </div>
                <p class="desc">sdfds gfdg df gdf g</p>
            </div>
            <div class="bg-danger refContainer">
                <div class="refImage">
                    <img src="~/file/pictures/muol.png" />
                </div>
                <p class="desc">sdfds gfdg df gdf g</p>
            </div>
            <div class="bg-danger refContainer">
                <div class="refImage">
                    <img src="~/file/pictures/muol.png" />
                </div>
                <p class="desc">sdfds gfdg df gdf g</p>
            </div>
            <div class="bg-danger refContainerT">
                <div class="refImage">
                    <img src="~/file/pictures/muol.png" />
                </div>
                <p class="desc">sdfds gfdg df gdf g</p>
            </div>

        </div>

        <!-- base of div for responsibility  -->
    </div>
</div>