@{
    ViewData["Title"] = "Support";
}



<div class="row pageRow">
    <div class="row bannerNoStyle bannerContainer">
        <h1 class="pTop text-center">@ViewData["Title"]</h1>

    </div>
    <div class="pageContentMain">
        <div class="col-lg-10 offset-lg-1">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="row">
                        <div class="techl col-lg-3 col-12">
                            <div class="techlic">
                                <div class="cell_186_210"></div>
                                <div class="techli">
                                    <img src="~/file/pictures/fotolia_61009720_m.jpg" />

                                </div>
                            </div>
                        </div>

                        <div class="techr pager suptext col-lg-9 col-12">
                            <h2>Support</h2>
                            <p class="h1desc"></p>
                            <div class="text">
                                <p>Our service support is provided by a team of experienced technicians, whose knowledge and skills are constantly enhanced through regular training by the manufacturers. Our service centers are conveniently located so we can provide very timely and cost-effective technical support.</p>
                                <p>In&nbsp;ACCELA, we are aware of our responsibility for the installed devices in terms of their safety and therefore we put great importance on&nbsp;preventative maintenance, inspections and safety checks. Not just during the installation of the equipment but also by its repairs and regular maintenance.</p>
                            </div>
                        </div>

                    </div>
                   

                </div>
                <div class="col-lg-3 col-12">
                    <div class="man supportManContainer">
                        <div class="manic">
                            <div class="cell_88_100"></div>
                            <div class="mani">
                                <img alt="Service support" src="~/file/pictures/suppdefault.jpg" />
                            </div>
                        </div>
                        <div class="manr">
                            <p class="name suppname">Service</p>
                            <p class="name">support</p>
                        </div>
                        <div class="mancon">
                            <p class="phone con">+420 255 700 886</p>
                            <!-- <p class="email con">accela@accela.eu</p>-->
                            <p class="email con">support@accela.eu</p>
                        </div>
                        <div class="outerS">
                            <a href="#">
                                <div class="button">
                                    <div class="text row">send message <span class="buttonImage"></span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg col-12 mr-2 supt">
                    <div class="suptic">
                        <div class="cell_96_107"></div>
                        <div class="supti">
                            <img alt="Service" src="https://www.accela.eu/files/pages/5/iko_blue_10.jpg" />
                        </div>
                    </div>
                    <div class="row">
                        <h2>Service</h2>

                    </div>
                    <div class="text">
                        <p>We provide warranty and after-warranty servicing of all equipment supplied by us and also&nbsp;post-warranty servicing of other instruments made by manufacturers represented by ACCELA.&nbsp;</p>
                        <p>Service <span style="color: #252525;">agreements&nbsp;</span>are available and designed to fulfill customer needs.</p>
                        <ul>
                            <li><strong>Service agreement STANDARD</strong></li>
                            <li><strong>Service agreement&nbsp;ADVANCED</strong></li>
                            <li><strong>Service agreement&nbsp;PLATINUM</strong></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg col-12 supt">
                    <div class="suptic">
                        <div class="cell_96_107"></div>
                        <div class="supti">
                            <img alt="Prevention" src="https://www.accela.eu/files/pages/5/iko_blue_12.jpg" />
                        </div>
                    </div>
                    <div class="row">
                        <h2>Prevention</h2>

                    </div>
                    <div class="text">
                        <p>Prevention is one of the cornerstones of long-term life of the an equipment and regular preventive maintenance can help detect hidden errors and malfunction. A trained technicians using special measuring devices to diagnose any errors will help prevent possible failures or breakdowns.</p>
                        <p>Feel free to ask us for:</p>
                        <ul>
                            <li><strong>Preventive maintenance&nbsp;<strong>inspection</strong></strong></li>
                            <li><strong>Safety&nbsp;&amp; technical&nbsp;check</strong></li>
                            <li><strong>H2O2 decontamination</strong></li>
                        </ul>
                    </div>
                </div>      
                
            </div>

        </div>
    </div>
</div>

    
