<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - accela</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href='~/file/font/OpenSans-Regular.ttf' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <div class="hpPageOfPages aass">
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-action="Index" asp-controller="Home"><img src="~/file/pictures/logo.png" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse menu-collapse menuContainer" id="main_nav">
                        <ul class="navbar-nav slideMenu">
                            <li class="nav-item active"> <a class="nav-link" asp-action="Discover" asp-controller="Home">Discover </a> </li>
                            <li class="nav-item dropdown js_linkToTech" id="technologiesMenuActivator">
                                <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">  Technologies  </a>
                                <!--<ul class="dropdown-menu dropdown-menuContainerTech">-->
                                <!--<li><a class="dropdown-item" asp-action="References" asp-controller="Home"> Submenu item 1</a></li>
    <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
    <li><a class="dropdown-item" href="#"> Submenu item 3 </a></li>-->
                                <!--
        <li>
        <div class="row">

        </div>

    </li>

        -->
                                <!--</ul>-->
                            </li>
                            <li class="nav-item"><a class="nav-link" asp-action="Product" asp-controller="Home"> Products </a></li>
                            <li class="nav-item dropdown js_linkToBrand" id="brandMenuActivator">

                                <a class="nav-link  dropdown-toggle" asp-action="Brand" asp-controller="Home" data-bs-toggle="dropdown">  Brands  </a>
                                <!--
                        <ul class="dropdown-menu dropdown-menuContainerBrand">

                            <div class="row">


                                <div class="mbrand">
                                    <div class="mbrandic">
                                        <a href="https://www.accela.eu/agilent-technologies">
                                            <div class="mbrandi">
                                                <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" />
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="mbrand">
                                    <div class="mbrandic">
                                        <a href="https://www.accela.eu/agilent-technologies">
                                            <div class="mbrandi">
                                                <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" />
                                            </div>
                                        </a>
                                    </div>
                                </div>











                                   <div class="col-2 offset-1">
                                    <a class="dropdown-item" asp-action="References" asp-controller="Home"> Submenu item 1</a><p>dfsdfsd</p>
                                </div>
                                <div class="col-2">
                                    <p>dfsdfsd</p>
                                </div>
                                <div class="col-2">
                                    <p>dfsdfsd</p>
                                </div>
                                <div class="col-2">
                                    <p>dfsdfsd</p>
                                </div>
                                <div class="col-2">
                                    <p>dfsdfsd</p>
                                </div>
                            </div>

                        </ul>-->
                            </li>
                            <li class="nav-item"><a class="nav-link" asp-action="References" asp-controller="Home"> References </a></li>
                            <li class="nav-item"><a class="nav-link" asp-action="Contact" asp-controller="Home"> Contact </a></li>
                        </ul>
                    </div> <!-- navbar-collapse.// -->
                </div> <!-- container-fluid.// -->
            </nav>
            <div class="row" id="brandMenu">


                <div class="col-10 offset-1">

                    <div class="hex-row">
                        <!--12-->
                        <div class="hex">
                            <a href="https://www.accela.eu/agilent-technologies">
                                <div class="top"></div>
                                <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                                <div class="bottom"></div>
                            </a>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>

                    </div>
                    <div class="hex-row even">
                        <!--11-->
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                        <div class="hex">
                            <div class="top"></div>
                            <div class="middle mbrandic"> <img alt="Agilent technologies" src="https://www.accela.eu/files/brands/31/agilent-technologies-logo.png" /></div>
                            <div class="bottom"></div>
                        </div>
                    </div>
                    <div class="hex-row">
                        <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
                        <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
                        <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
                    </div>


                </div>
            </div>
            <div class="row" id="technologiesMenu">
                <div class="col-10 offset-1">
                    <div class="row">
                        <div class="col-2 offset-1 mtech">
                            <div class="mtechic">
                                <div class="cell_38_42"></div>
                                <div class="mtechi">
                                    <img alt="Molecular technologies" src="https://www.accela.eu/files/fields/1/molecular.jpg" />
                                </div>
                            </div>
                            <div class="mtechtit">
                                <p>
                                    <a href="https://www.accela.eu/technologies/molecular-technologies">Molecular technologies</a>
                                </p>
                            </div>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/molecular-technologies/targeted-dna-protein-size-collection">Targeted DNA/protein size collection</a>
                            </p>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/molecular-technologies/ultra-and-high-performance-centrifuges">Ultra and high performance centrifuges</a>
                            </p>

                        </div>
                        <div class="col-2 mtech">
                            <div class="mtechic">
                                <div class="cell_38_42"></div>
                                <div class="mtechi">
                                    <img alt="Molecular technologies" src="https://www.accela.eu/files/fields/1/molecular.jpg" />
                                </div>
                            </div>
                            <div class="mtechtit">
                                <p>
                                    <a href="https://www.accela.eu/technologies/molecular-technologies">Molecular technologies</a>
                                </p>
                            </div>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/cellular-analysis/live-cell-imaging">Live cell imaging</a>
                            </p>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/cellular-analysis/automated-microscopy-and-image-analysis">Automated microscopy and image analysis</a>
                            </p>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/cellular-analysis/super-resolution-microscopy">Super resolution microscopy</a>
                            </p>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/cellular-analysis/cell-counting">Cell counting</a>
                            </p>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/cellular-analysis/real-time-label-free-cell-analysis">Real-time, label free cell analysis</a>
                            </p>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/cellular-analysis/cell-interaction-studies">Cell interaction studies</a>
                            </p>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/cellular-analysis/ctc-s-and-rare-cells-analysis">CTC´s and rare cells analysis</a>
                            </p>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/cellular-analysis/nano-and-micro-particle-analysis">Nano and micro particle analysis</a>
                            </p>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/cellular-analysis/3d-cell-culture-rotary-system">3D cell culture rotary system</a>
                            </p>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/cellular-analysis/3d-bioprinting">3D Bioprinting</a>
                            </p>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/cellular-analysis/physiological-cell-culturing">Physiological cell culturing</a>
                            </p>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/cellular-analysis/hypoxia-and-o2-controlled-environment-isolators">Hypoxia and O2 controlled environment isolators</a>
                            </p>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/cellular-analysis/anaerobic-glove-boxes">Anaerobic boxes</a>
                            </p>
                            <p class="item">
                                <a href="https://www.accela.eu/technologies/cellular-analysis/plant-growth-chambers">Plant growth chambers</a>
                            </p>
                        </div>
                        <div class="col-2">
                            <p> fdsg dfg df gdf</p><br />
                            <p> fdsg dfg df gdf</p><br />
                        </div>
                        <div class="col-2">
                            <p> fdsg dfg df gdf</p><br />
                            <p> fdsg dfg df gdf</p><br />
                        </div>
                        <div class="col-2">
                            <p> fdsg dfg df gdf</p><br />
                            <p> fdsg dfg df gdf</p><br />
                        </div>

                    </div>
                    
                   
                </div>







            </div>

        </div>




    </header>
    <div class="container-fluid">

        <main role="main" class="pb-3 row hpMainContainer d-flex justify-content-center">

            <div class="col-12 hpPageContainer">
                @RenderBody()
            </div>

        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="row footer-container justify-content-center col">
            <div class="col-lg-4">

                <img src="~/file/pictures/foot_logo.png" />

            </div>
            <div class="col-lg-2">
                <p class="text-white">Technologies</p>
            </div>
            <div class="col-lg-2">
                <p>Technologies</p>
            </div>
            <div class="col-lg-3">
                <p>Technologies</p>
            </div>


            <!--
                &copy; 2021 - accela - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            -->
        </div>




    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />


    @await RenderSectionAsync("Scripts", required: false)
    <script>
        //document.addEventListener("DOMContentLoaded", function () {
            $(document).ready(function () {
            // make it as accordion for smaller screens
          /*  if (window.innerWidth > 992) {

                document.querySelectorAll('.navbar .nav-item').forEach(function (everyitem) {

                    everyitem.addEventListener('mouseover', function (e) {

                        let el_link = this.querySelector('a[data-bs-toggle]');

                        if (el_link != null) {
                            let nextEl = el_link.nextElementSibling;
                            el_link.classList.add('show');
                            nextEl.classList.add('show');
                        }

                    });
                    everyitem.addEventListener('mouseleave', function (e) {
                        let el_link = this.querySelector('a[data-bs-toggle]');

                        if (el_link != null) {
                            let nextEl = el_link.nextElementSibling;
                            el_link.classList.remove('show');
                            nextEl.classList.remove('show');
                        }


                    })
                });

            }*/
            // end if innerWidth  


            $(".js_linkToBrand").click(function () {
                window.location.href = "../Home/Brand";
            });
            $(".js_linkToTech").click(function () {
                window.location.href = "../Home/Technologies";
            });

            /*$(document).ready(function () {
                $("#myCarousel").swiperight(function () {
                    $(this).carousel('prev');
                });
                $("#myCarousel").swipeleft(function () {
                    $(this).carousel('next');
                });
            });*/
            /*var w = window.innerWidth;
            if (w <= 1000) {
                var fixmeTop = $('.fixme').offset().top;
                var fixmeBottom = $('.techdel').offset().top;
                fixmeBottom = fixmeBottom - 650;
                $(window).scroll(function () {
                    var currentScroll = $(window).scrollTop();
                    if (currentScroll >= fixmeTop && currentScroll < fixmeBottom) {

                        $('.fixme').css({
                            position: 'fixed',
                            top: '0',
                            width: '20%'
                        });
                    } else if (fixmeBottom < currentScroll) {
                        $('.fixme').css({
                            position: 'absolute',
                            bottom: '0',
                            width: '20%'
                        });
                    } else {
                        $('.fixme').css({
                            position: 'absolute',
                            bottom: '0',
                            width: '100%'
                        });
                    }
                });
            }*/


            $(document).on('click', 'a.etogg2', function () {

                var rel = $(this).attr('rel');

                $('#' + rel).click();

            });



            $(document).on('click', 'a.etogg', function () {

                if ($('a.etoggm').length > 0) {

                    $('a.etoggm')[0].click();

                }

                var a = $(this);

                var rel = a.attr('rel');

                var div = $('#' + rel);

                var par = div.parents('.event');

                if (div.is(":visible")) {

                    a.addClass('etoggp');

                    a.removeClass('etoggm');

                    div.slideUp(200);

                    a.html('Show more<span></span>');

                    par.removeClass('eventa');

                }

                else {

                    a.removeClass('etoggp');

                    a.addClass('etoggm');

                    div.slideDown(200);

                    a.html('Show less<span></span>');

                    par.addClass('eventa');

                }

            });

        /*submenu*/

            $("#brandMenuActivator").hover(
                function () {
                    $("#brandMenu").css("display", "block");
                    $("#technologiesMenu").css("display", "none");
                }, function () {
                    
                }
            );
            $("#brandMenu").hover(
                function () {
                    $("#brandMenu").css("display", "block");
                }, function () {
                    $("#brandMenu").css("display", "none");
                }
            ); 
            $("#technologiesMenuActivator").hover(
                function () {
                    $("#technologiesMenu").css("display", "block");
                    $("#brandMenu").css("display", "none");
                }, function () {

                }
            );
            $("#technologiesMenu").hover(
                function () {
                    $("#technologiesMenu").css("display", "block");
                }, function () {
                    $("#technologiesMenu").css("display", "none");
                }
            ); 
           


        /*end Submenu*/


          


        });

        $(".js_testClick").on("click", function() {
             $.post("/Email/RecieveMessage",
                {
                    Name: "Donald Duck",
                    Email: "Duckburg",
                    Text: "tata",
                    FormType: "kekw"
                },
                function(data, status){
                    alert("Data: " + data + "\nStatus: " + status);
                });
        });
    </script>
</body>
</html>
