<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - accela</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href='~/file/font/OpenSans-Regular.ttf' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
       




    </header>
    <div class="container-fluid">

        <main role="main" class="pb-3 row hpMainContainer d-flex justify-content-center">

            <div class="col-12 hpPageContainer">
                @RenderBody()
            </div>

        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="row footer-container justify-content-center col">
            <div class="col-lg-4">

                <img src="~/file/pictures/foot_logo.png" />

            </div>
            <div class="col-lg-2">
                <p class="text-white">Technologies</p>
            </div>
            <div class="col-lg-2">
                <p>Technologies</p>
            </div>
            <div class="col-lg-3">
                <p>Technologies </p>
            </div>


            <!--
                &copy; 2021 - accela - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            -->
        </div>




    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />


    @await RenderSectionAsync("Scripts", required: false)
    <script>
        //document.addEventListener("DOMContentLoaded", function () {
        $(document).ready(function () {
            // make it as accordion for smaller screens
            /*  if (window.innerWidth > 992) {

                  document.querySelectorAll('.navbar .nav-item').forEach(function (everyitem) {

                      everyitem.addEventListener('mouseover', function (e) {

                          let el_link = this.querySelector('a[data-bs-toggle]');

                          if (el_link != null) {
                              let nextEl = el_link.nextElementSibling;
                              el_link.classList.add('show');
                              nextEl.classList.add('show');
                          }

                      });
                      everyitem.addEventListener('mouseleave', function (e) {
                          let el_link = this.querySelector('a[data-bs-toggle]');

                          if (el_link != null) {
                              let nextEl = el_link.nextElementSibling;
                              el_link.classList.remove('show');
                              nextEl.classList.remove('show');
                          }


                      })
                  });

              }*/
            // end if innerWidth


            $(".js_linkToBrand").click(function () {
                window.location.href = "../Home/Brand";
            });
            $(".js_linkToTech").click(function () {
                window.location.href = "../Home/Technologies";
            });

            /*$(document).ready(function () {
                $("#myCarousel").swiperight(function () {
                    $(this).carousel('prev');
                });
                $("#myCarousel").swipeleft(function () {
                    $(this).carousel('next');
                });
            });*/
            /*var w = window.innerWidth;
            if (w <= 1000) {
                var fixmeTop = $('.fixme').offset().top;
                var fixmeBottom = $('.techdel').offset().top;
                fixmeBottom = fixmeBottom - 650;
                $(window).scroll(function () {
                    var currentScroll = $(window).scrollTop();
                    if (currentScroll >= fixmeTop && currentScroll < fixmeBottom) {

                        $('.fixme').css({
                            position: 'fixed',
                            top: '0',
                            width: '20%'
                        });
                    } else if (fixmeBottom < currentScroll) {
                        $('.fixme').css({
                            position: 'absolute',
                            bottom: '0',
                            width: '20%'
                        });
                    } else {
                        $('.fixme').css({
                            position: 'absolute',
                            bottom: '0',
                            width: '100%'
                        });
                    }
                });
            }*/


            $(document).on('click', 'a.etogg2', function () {

                var rel = $(this).attr('rel');

                $('#' + rel).click();

            });



            $(document).on('click', 'a.etogg', function () {

                if ($('a.etoggm').length > 0) {

                    $('a.etoggm')[0].click();

                }

                var a = $(this);

                var rel = a.attr('rel');

                var div = $('#' + rel);

                var par = div.parents('.event');

                if (div.is(":visible")) {

                    a.addClass('etoggp');

                    a.removeClass('etoggm');

                    div.slideUp(200);

                    a.html('Show more<span></span>');

                    par.removeClass('eventa');

                }

                else {

                    a.removeClass('etoggp');

                    a.addClass('etoggm');

                    div.slideDown(200);

                    a.html('Show less<span></span>');

                    par.addClass('eventa');

                }

            });

            /*submenu*/

            $("#brandMenuActivator").hover(
                function () {
                    $("#brandMenu").css("display", "block");
                    $("#technologiesMenu").css("display", "none");
                }, function () {

                }
            );
            $("#brandMenu").hover(
                function () {
                    $("#brandMenu").css("display", "block");
                }, function () {
                    $("#brandMenu").css("display", "none");
                }
            );
            $("#technologiesMenuActivator").hover(
                function () {
                    $("#technologiesMenu").css("display", "block");
                    $("#brandMenu").css("display", "none");
                }, function () {

                }
            );
            $("#technologiesMenu").hover(
                function () {
                    $("#technologiesMenu").css("display", "block");
                }, function () {
                    $("#technologiesMenu").css("display", "none");
                }
            );



            /*end Submenu*/





        });

        $(".js_testClick").on("click", function () {
            $.post("/Email/RecieveMessage",
                {
                    Name: "Donald Duck",
                    Email: "Duckburg",
                    Text: "tata",
                    FormType: "kekw"
                },
                function (data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                });
        });
    </script>
</body>
</html>
